html {
    scroll-behavior: smooth;
}

.rectangle {
    /* margin: 0 auto; */
    position: absolute;
    width: 100vw;
    height: 50px;
    top: 0px;
    background-color: #4E4E4E;
    display: flex;
    /* align-content: flex-end; */
    justify-content: flex-end;
}

.logo{
    position: absolute;
    left: 150px;
    /* top: 339px;  */
    width: 88px;
    height: 29px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #FFFFFF;
}


/* .o_nas{
    position: absolute;
    left: 80%;
    width: 45px;
    height: 29px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    color: #F1F1F1;
} */

/* .oferta{
    position: absolute;
    left: 85%;
    width: 49px;
    height: 21px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    /* display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    color: #F1F1F1;
} */ 

/* .kontakt{
    position: absolute;
    left: 90%;
    width: 61px;
    height: 21px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    color: #F1F1F1;

} */

.container{
    position: absolute;
    top: -331px;
    display: flex;
    height: 100%;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#title{
    position: absolute;
    left: 250px;
    top: 600px;
    width: 577px;
    height: 46.11px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 58px;
    /* display: flex; */
    /* align-items: center; */

    color: white;
}   

#title2{
    position: absolute;
    width: 276px;
    height: 23.13px;
    top: 780px;
    left: 250px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* display: flex;
    align-items: center; */

    color: #FFFFFF;
}

.img{
    background-image: 
    url("fog.jpg"
    );
    height: 100vh;
    width: 100vw;
    /* width: ; */
    /* background-size: 1920px 1080px; */
    background-size: cover;
    margin: 0 auto;

}

.rectangle_offer{
    position: absolute;
    width: 164px;
    height: 40.74px;
    top: 850px;
    left: 250px;

    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 1s;
}

.rectangle_offer:hover{
    background-color: white;
}

div a:hover{ 
    color: black;
}

div a{
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
}



header div a{
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* padding: 20px; */
}

/* #offer{
    position: absolute;
    width: 49px;
    height: 12.8px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;

    color: #FFFFFF; 
    transition: 1ms;
} */

#offer:hover{
    color: black;
}

#specialist{
    position: absolute;
    width: 386px;
    height: 35px;
    top: 1550px;
    left: 250px;
    

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    /* align-items: center; */
    text-align: center;

    color: #152D41;
}

.elipse1{
    position: absolute;
    width: 221px;
    height: 221px;
    top: 1750px;
    left: 250px;

    background: #C4C4C4;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
}

.person1{
    position: absolute;
    width: 866px;
    height: 104px;
    top: 1750px;
    left: 700px;
}

#person_description1{
    position: absolute;
    width: 866px;
    height: 104px;
    white-space:unset;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 21px;

    color: #000000;
}

.elipse2{
    position: absolute;
    width: 221px;
    height: 221px;
    top: 2150px;
    left: 1750px;

    background: #C4C4C4;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
}

.person2{
    position: absolute;
    width: 866px;
    height: 104px;
    top: 2150px;
    left: 700px;
}

#person_description2{
    position: absolute;
    width: 866px;
    height: 104px;
    white-space:unset;
    text-align: right;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 21px;

    color: #000000;
}

.services{
    margin: 0 auto;
    position: absolute;
    width: 100vw;
    height: 1150px;
    background-color: #405D78;
    top: 2600px;
    left: 50px;
    
}

#about{
    position: absolute;
    width: 501px;
    height: 42px;
    top: 100px;
    left: 250px;
    white-space: nowrap;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 58px;

    color: #FFFFFF;
}

.box-container {
    display: grid;
    
    
    position: absolute;
    
    top: 350px;
    left: 25%;
    width: 800px;
    height: 800px;
    grid-template-columns: 198px 198px 198px;
    grid-template-rows: 193px 193px 193px ;
    grid-gap: 15%;
    
}

.box{
    background-color: #fff;
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    transition: 1s;
}

.box:hover{
    cursor: pointer;
    transform: scale(1.05);
}

footer{
    display: flex;
    position: absolute;
    top: 1100px;
    width: 100vw;
    height: 71px;
    align-items: center;

    background: #4E4E4E;
}

#footer_title{
    position: absolute;
    width: 394px;
    height: 21px;
    left: 150px;
    white-space:nowrap;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 19px;
    /* identical to box height */


    color: #FFFFFF;
}

.fab.fa-instagram{
    position: absolute;
    
   
    position: absolute;
    left: 85%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    color: white;
    
}

.fab.fa-facebook-square{
    position: absolute;
    left: 88%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    color: white;
    
}